<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gurkensalat.android.xingsync"
    android:versionCode="${manifest.version.code}"
    android:versionName="${project.version}" >

    <uses-sdk
        android:minSdkVersion="${platform.min.sdk.version}"
        android:targetSdkVersion="${platform.target.sdk.version}" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- TODO examine which of the ACCOUNTS permissions we really need -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- <uses-permission android:name="android.permission.USE_CREDENTIALS" /> -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- Permissions to manipulate contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_label" >
        <activity android:name=".HelloAndroidActivity_" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Preferences -->
        <activity
            android:name=".preferences.AccountPreferencesActivity_"
            android:excludeFromRecents="true"
            android:label="Account Preferences"
            android:theme="@android:style/Theme.Dialog" />

        <!-- OAuth activities -->
        <activity
            android:name=".oauth.PrepareRequestTokenActivity_"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="x-oauthflow" />
            </intent-filter>
        </activity>

        <!-- Account sync activities -->
        <service
            android:name=".sync.AccountAuthenticatorService_"
            android:exported="true"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".sync.ContactsSyncAdapterService_"
            android:exported="true"
            android:process=":contacts" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_contacts" />
            <meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts" />
        </service>

        <activity
            android:name=".sync.AddAccountActivity_"
            android:configChanges="keyboardHidden" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" /> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".sync.OnlyOneAccountErrorActivity_" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>