<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gurkensalat.android.xingsync"
    android:sharedUserId="${xingsync.sharedUserId}"
    android:versionCode="${manifest.version.code}"
    android:versionName="${project.version}" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="${platform.sdk.version}" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity android:name=".HelloAndroidActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
